.main-container {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background: url("https://source.unsplash.com/JGIDk3b-4N4") no-repeat center/cover;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100vh;
  gap: .5em;
  padding-right: 5em;
  background-color: rgba(0, 0, 0, .7);
}

.input-section {
  text-align: right;
  width: 100%;
  color: #fff;
}

input {
  height: 3em;
  text-align: right;
  font-size: 1.3rem;
  padding-right: 1em;
  border: none;
  border-radius: .5em;
  outline: 0;
}

.span-heading {
  display: block;
  color: yellowgreen;
}

.span-temp {
  font-size: 3rem;
}

.span-slash {
  font-size: 1.4rem;
  margin: 0 .5em;
}

.span-slash-2 {
  font-size: 1rem;
  margin: 0 .5em;
}

.weather-section {
  text-align: right;
  font-weight: 500;
  width: 100%;
}

.weather-heading {
  margin-bottom: 1em;
  font-size: 2rem;
}

.weather-body {
  opacity: .9;
}

.span-temp-icon {
  margin-left: .2em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.weather-condition {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;
  margin-bottom: .5em;
  font-size: 1.8rem;
}

.wind-humidity {
  font-size: 1.6rem;
}

.link-back {
  margin-top: 3em;
  opacity: .8;
}

.link-back a {
  text-decoration: none;
  color: #fff;
}

.span-wind {
  font-size: 1.3rem;
}

.submit-button {
  margin-bottom: 1em;
  padding: .5em .75em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: .5em;
  color: #000;
  background-color: yellowgreen;
  outline: 0;
  cursor: pointer;
}

.submit-button:active {
  color: #000;
  background-color: #fff;
}