.main-container {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  /* background: url("https://source.unsplash.com/JGIDk3b-4N4") no-repeat center/cover; */
  background: url('./images/andres-siimon-JGIDk3b-4N4-unsplash.jpg') no-repeat center/cover;
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  min-height: 100vh;
  gap: 1em;
  padding: 0 5em 0 1em;
  background-color: rgba(0, 0, 0, .7);
}

.input-section {
  text-align: right;
  width: 100%;
  color: #fff;
}

input {
  height: 3em;
  text-align: right;
  font-size: 1.3rem;
  padding-right: 1em;
  border: none;
  border-radius: .5em;
  outline: 0;
}

.submit-button {
  margin-bottom: 1em;
  padding: .5em .75em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: .5em;
  color: #000;
  background-color: yellowgreen;
  outline: 0;
  cursor: pointer;
}

.submit-button:active {
  color: #000;
  background-color: #fff;
}

.weather-section {
  text-align: right;
  font-weight: 500;
  width: 100%;
}

.weather-heading {
  margin-bottom: 1em;
  font-size: 2rem;
}

.span-heading {
  display: block;
  color: yellowgreen;
}

.weather-body {
  opacity: .9;
}

.weather-condition {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;
  margin-bottom: .5em;
  font-size: 1.8rem;
}

.span-temperature {
  font-size: 3rem;
}

.span-temperature-icon {
  margin-left: .2em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.span-temperature-slash {
  font-size: 1.4rem;
  margin: 0 .5em;
}

.wind-and-humidity {
  font-size: 1.6rem;
}

.span-wind-and-humidity {
  font-size: 1.3rem;
}

.span-wind-and-humidity-slash {
  font-size: 1rem;
  margin: 0 .5em;
}

.link-back {
  margin-top: 3em;
  opacity: .8;
}

.link-back a {
  text-decoration: none;
  color: #fff;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1500px) {
  .section {
    width: 60%;
    padding: 1em 3em 1em;
  }
}

@media screen and (max-width: 1300px) {
  .section {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .section {
    align-items: center;
    width: 100%;
    padding: 5em 1em 1em;
  }

  input {
    padding-right: 0;
  }

  input,
  .input-section,
  .weather-section {
    text-align: center;
  }

  .weather-condition {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .section {
    justify-content: flex-start;
  }

  .weather-heading {
    font-size: 1.5rem;
  }

  .weather-condition {
    font-size: 1.3rem;
  }

  .span-temperature {
    font-size: 2.5rem;
  }

  .span-temperature-icon,
  .wind-and-humidity  {
    font-size: 1.1rem;
  }

  .span-temperature-slash,
  .span-wind-and-humidity  {
    font-size: 1rem;
  }

  .span-wind-and-humidity-slash {
    font-size: .8rem;
  }
}